<app-header></app-header>
<div class="hero">
  <!-- Wellcome -->
  <div class="hero-wellcome">
    <div class="hero-wellcome__text">
      <h1 class="wellcome-text">
        <span class="wellcome-text--normal">Bienvenido a tu </span>Entrevista Técnica
        <span class="wellcome-text--normal">en </span> <span class="color-green">Wolox</span>
      </h1>
    </div>
    <div class="hero-wellcome__img">
      <picture>
        <source media="(max-width: 600px)" srcset="assets/Img_Hero/Ic_ilustra_Hero.png">
        <source media="(min-width: 601px) and (max-width: 1299)" srcset="assets/Img_Hero/Ic_ilustra_Hero@2x.png">
        <source media="(min-width: 1300px)" srcset="assets/Img_Hero/Ic_ilustra_Hero@3x.png">
        <img src="assets/Img_Hero/Ic_ilustra_Hero@2x.png" height="500px" alt="Bienvenido a wolox">
      </picture>
    </div>
  </div>

  <!-- We work with ideas -->
  <div class="hero-our">
    <div class="hero-our__img">
      <picture>
        <source media="(max-width: 600px)" srcset="assets/img_woloxer.png">
        <source media="(min-width: 601px) and (max-width: 1299)" srcset="assets/img_woloxer@2x.png">
        <source media="(min-width: 1300px)" srcset="assets/img_woloxer@3x.png">
        <img src="assets/img_woloxer@2x.png" alt="Trabaja con nosotros">
      </picture>
    </div>
    <div class="hero-our__text">
      <h1 class="our-text">
        <span class="wellcome-text--normal">Trabajamos para </span>
        <span class="color-blue">convertir </span>
        <span class="color-green">ideas</span> en productos
      </h1>
    </div>
  </div>

  <!-- Out benefits -->
  <div class="hero-benefits"></div>

  <!-- Our thanks -->
  <div class="hero-thanks"></div>
</div>
