<app-header></app-header>
<div class="hero">
  <!-- Wellcome -->
  <div class="hero-wellcome">
    <div class="hero-wellcome__text">
      <h1 class="wellcome-text">
        <span class="wellcome-text--normal">Bienvenido a tu </span>Entrevista Técnica
        <span class="wellcome-text--normal">en </span> <span class="color-green">Wolox</span>
      </h1>
    </div>
    <div class="hero-wellcome__img">
      <picture>
        <source media="(max-width: 600px)" srcset="assets/Img_Hero/Ic_ilustra_Hero.png">
        <source media="(min-width: 601px) and (max-width: 1299)" srcset="assets/Img_Hero/Ic_ilustra_Hero@2x.png">
        <source media="(min-width: 1300px)" srcset="assets/Img_Hero/Ic_ilustra_Hero@3x.png">
        <img src="assets/Img_Hero/Ic_ilustra_Hero@2x.png" height="500px" alt="Bienvenido a wolox">
      </picture>
    </div>
  </div>

  <!-- We work with ideas -->
  <div class="hero-our">
    <div class="hero-our__img">
      <picture>
        <source media="(max-width: 600px)" srcset="assets/img_woloxer.png">
        <source media="(min-width: 601px) and (max-width: 1299)" srcset="assets/img_woloxer@2x.png">
        <source media="(min-width: 1300px)" srcset="assets/img_woloxer@3x.png">
        <img src="assets/img_woloxer@2x.png" alt="Trabaja con nosotros">
      </picture>
    </div>
    <div class="hero-our__text">
      <h1 class="our-text">
        <span class="wellcome-text--normal">Trabajamos para </span>
        <span class="color-blue">convertir </span>
        <span class="color-green">ideas</span> en productos
      </h1>
    </div>
  </div>

  <!-- Out benefits -->
  <div class="hero-benefits">
    <div class="hero-benefits__text">
      <h2 class="">Entre los beneficios que te ofrecemos se encuentran <span class="color-blue">;)</span></h2>
    </div>
    <div class="benefits-list">
      <div class="benefits-list__img">
        <img src="assets/Ic_Hour.svg" alt="flexibilidad horaria">
      </div>
      <div class="benefits-list__img">
        <img src="assets/Ic_HomeOffice.svg" alt="Trabajo remoto">
      </div>
      <div class="benefits-list__img">
        <img src="assets/Ic_Workshops.svg" alt="Capacitaciones">
      </div>
      <div class="benefits-list__img">
        <!-- TODO: change this alt -->
        <img src="assets/Ic_DrinkSnacks.svg" alt="Bebidas gratis">
      </div>
      <div class="benefits-list__img">
        <img src="assets/Ic_laptop.svg" alt="Semana remota">
      </div>
      <div class="benefits-list__img">
        <img src="assets/Ic_brain.svg" alt="Últimas tecnologias">
      </div>
    </div>
  </div>

  <!-- Our thanks -->
  <div class="hero-thanks">
    <div class="hero-thanks__text">
      <h1>Gracias por <span class="color-blue">completar el ejercicio</span></h1>
      <h2>Te invitamos ver más información</h2>
    </div>
    <div class="hero-thanks__button">
      <button class="actions__button--fill cursor-pointer">Conocer más</button>
    </div>
  </div>
</div>
