@import 'variables';

.bold {
  font-weight: bold;
}

.color-green {
  color: $green-color;
}

.color-blue {
  color: $blue-color;
}

.cursor-pointer {
  cursor: pointer;
}

// Letters
h2 {
  font-size: 2rem;
  font-weight: normal;
}
