@import '../../../../../style/variables';

.header {
  background-image: url('../../../../../assets/Backgrounds/Bg_Header.png');
  margin-top: 2.5rem;
  margin-left: 3.3rem;
  margin-right: 3.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .actions__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      list-style: none;
      margin-right: 20px;
      font-weight: bold;
    }
    li:nth-child(3) {
      margin: 0;
    }
  }
}
