@import '../../../../../style/variables';

.header {
  margin-top: 2.5rem;
  margin-left: 3.3rem;
  margin-right: 3.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .actions__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      list-style: none;
      margin-right: 20px;
      font-weight: bold;
    }
    li:nth-child(3) {
      margin: 0;
    }
    .actions__button {
      background-color: white;
      border: 1px solid $blue-color;
      border-radius: 20px;
      height: 2rem;
      width: 8.85rem;
      color: $blue-color;
      font-weight: bold;
      font-size: 0.78rem;
    }

  }
}
