<div class="table-container">
  <div class="table-header">
    <span class="table--title">{{title}}</span>
  </div>
  <div class="table-rows">
    <div class="columns__size">
      <div class="column" *ngFor="let item of columns">
        {{item}}
      </div>
    </div>
    <div class="row columns__size" *ngFor="let item of items">
      <div class="row--item">{{item.id}}</div>
      <div class="row--item">{{item.name}}</div>
      <div class="row--item">{{item.height}}</div>
      <div class="row--item">{{item.weight}}</div>
      <div class="row--item">
        <span *ngFor="let types of item.types | slice:0:2">-{{types.type.name}} </span>
      </div>
      <div class="row--item">{{item.base_experience}}</div>
      <div class="row--item">
        <span *ngFor="let move of item.moves | slice:0:2">-{{move.move.name}} </span>
      </div>
    </div>
  </div>
</div>
