
.table-container {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
}

.table-header {
  height: 8%;
  background-color: yellow;

  .table--title {
    font-size: 1.3rem;
  }
}

.table-rows {
  height: 92%;

  .columns__size {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    .column {
      text-align: center;
    }
  }
  .row {
    width: 100%;
    height: 50px;
  }
  .row--item {
    text-align: center;
  }
}
